html {
    font-size: 16px;
    color: #2a2a2a;
    background-color: #1e1e1e;
}

.nav{
    display: flex;
    flex-direction: column;
}

.navLink{
    display: flex;
    color: #1e1e1e;
    background-color: #ffcc57;
    justify-content: center;
    color: #ffffff;
    font-size: 16px;
    margin-left: 20%;
    margin-bottom: 20%;
    padding-top: 20%;
    padding-bottom: 20%;
    text-decoration: none;
    border-radius: 7px;
    border-width: 2px;
    border-color: white;
    width: 140%;
}

.container {
    display: flex;
    flex-direction: row;
}

.menu {
    position: fixed;
    top: 25%;

}

.mainWindow {
    margin-left: 10%;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.searchEventArea {
    display: flex;
    justify-content: space-between;
}

.tableReportArea {
    display: flex;
}

.pwdArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: available;
}

.eventsArea {
    margin-left: 15px;
}

.orderLinesView {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chartView {
    display: flex;
    background-color: #393e46;
}
.tabReports{
    width: 100%;
}
